.card{
    margin:30px;
     width:144px;
    height:144px;
    border-style:none; 
}
.grow:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

body{
    color:rgb(100, 8, 100);
    background-color:rgb(87, 9, 87);
}

.card-img{
    width:160px;
    height:160px;
}


